{% extends 'base.html' %}

{% block title %}
Movie List
{% endblock %}

{% block content %}
<h1>Movie List</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Title</th>
			<th>Suggested By</th>
			<th>Score</th>
			<th>Buffs</th>
		</tr>
	</thead>
	<tbody>
		{% for m in unwatched %}
		<tr>
			<td>
				<a href="https://www.imdb.com/title/{{ m.imdb_id }}/">
				{{ m.title }}
				</a>
			</td>
			<td>{{ m.suggested_by.first_name }}</td>
			<td>{{ m.get_score }}</td>
			<td>{{ m.get_buffs }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<h1>Watched</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Title</th>
			<th>Suggested By</th>
			<th>Watched</th>
			<th>Score</th>
			<th>Avg Rating</th>
		</tr>
	</thead>
	<tbody>
		{% for m in watched %}
		<tr>
			<td>
				<a href="https://www.imdb.com/title/{{ m.imdb_id }}/">
				{{ m.title }}
				</a>
			</td>
			<td>{{ m.suggested_by.first_name }}</td>
			<td>{{ m.watched_date }}</td>
			<td>{{ m.get_score }}</td>
			<td>{{ m.get_rating }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
