{% extends 'base.html' %}

{% block title %}
Movie List
{% endblock %}

{% block content %}
<h1>Movie List</h1>
<table class="table table-striped display" id="movieTable">
	<thead>
		<tr>
			<th>Title</th>
			<th>Suggested By</th>
			<th>Days Since Added</th>
			<th>IMDB rating</th>
			<th>Score</th>
			<th>Buffs</th>
		</tr>
	</thead>
	<tbody>
		{% for m in unwatched %}
		<tr>
			<td>
				<a href="https://www.imdb.com/title/{{ m.imdb_id }}/">
				{{ m.title }}
				</a>
			</td>
			<td>
				{% if m.suggested_by %}
				<a href="{% url 'profile' m.suggested_by.username %}">{{ m.suggested_by.first_name }}</a>
				{% endif %}
			</td>
			<td>{{ m.days_since_added }}</td>
			<td>{{ m.rating }}</td>
			<td>{{ m.get_score|floatformat:2 }}</td>
			<td>{{ m.get_buffs }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<h1>Watched</h1>
<table class="table table-striped" id="watchedTable">
	<thead>
		<tr>
			<th>Title</th>
			<th>Suggested By</th>
			<th>Watched</th>
			<th>Score</th>
			<th>Avg Rating</th>
		</tr>
	</thead>
	<tbody>
		{% for m in watched %}
		<tr>
			<td>
				<a href="https://www.imdb.com/title/{{ m.imdb_id }}/">
				{{ m.title }}
				</a>
			</td>
			<td>{{ m.suggested_by.first_name }}</td>
			<td>{{ m.watched_date }}</td>
			<td>{{ m.get_score }}</td>
			<td>{{ m.get_rating }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<script>
$(document).ready(function () {
    $('#movieTable').DataTable({
        "pageLength": 25,
        order: [[4, 'desc']],
        pagingType: 'full_numbers',
    });
});

$(document).ready(function () {
    $('#watchedTable').DataTable({
        "pageLength": 25,
        order: [[2, 'desc']],
        pagingType: 'full_numbers',
    });
});
</script>

{% endblock %}
